extends layout
block content
  div.homeBtnParent
    a#homePage.btn.btn-primary(href='/' role='button') Go Back to Home Page
  div.form
    form.bookAction(action=`/books/${id}?_method=PUT` method='POST')
      div.updBtnParent
        button.btn.btn-info.update#updateBtn(type='submit') Update
      br
      label(for='id') ID
      div(name='id').form-control #{id}
      label(for='title') Title 
      div(name='title').form-control #{title}
      label(for='author') Author
      div(name='author').form-control #{author}
      label(for='genre') Genre 
      div(name='genre').form-control #{genre}
      label(for='height') Height
      div(name='height').form-control #{height}
      label(for='publisher') Publisher
      div(name='publisher').form-control #{publisher}
  div.delBtnParent
    form.bookAction(action=`/books/${id}?_method=DELETE` method='POST')
      button.btn.btn-warning.delete#delBtn(type='submit') Delete

  script(src="/js/script.js")
