extends layout
block content
  a#homePage.btn.btn-primary(href='/' role='button') Go Back to Home Page
  
  form.bookAction(action=`/books/${id}?_method=PUT` method='POST')
    button.btn.btn-info(type='submit') Update
  
  form.bookAction(action=`/books/${id}?_method=DELETE` method='POST')
    button.btn.btn-warning(type='submit') Delete
  
  //- href='/books/:bookID' 
  //- div.bookInfo
  //-   h4 Details 
  //-   li id: #{id}
  //-   li title: #{title}
  //-   li author: #{author}
  //-   li genre: #{genre}
  //-   li height: #{height}
  //-   li publisher: #{publisher}
  

  ul.bookDetails
    li.list-group-item
      label(for='id') ID
      div.form-control #{id}
      label(for='title') Title 
      div.form-control #{title}
      label(for='author') Author
      div.form-control #{author}
      label(for='genre') Genre 
      div.form-control #{genre}
      label(for='height') Height
      div.form-control #{height}
      label(for='publisher') Publisher
      div.form-control #{publisher}
